{% extends 'admin/base.html' %} {{ block.super }} {% block extrajs %}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script type="text/javascript">
  $(function () {
    add_markdown_preview();

    $("#id_detail").change(function () {
      $.ajax({
        url: "/cms/render",
        type: "POST",
        data: { detail: $("#id_detail").html() },
        dataType: "json",
      })
        .done(function (data) {
          $("#preview_md").html(data["detail"]);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
          console.log("fetcherror");
        });
    });
  });

  function add_markdown_preview() {
    let $div = $(".form-row field-detail");
    let $preview = $div.clone().prop("id", "preview_md");
    $preview.find("label").after().remove();
    $preview.find("label").parent().append("<div></div>");
    $div.after($previw);
  }
</script>
{% endblock %}
